   *{
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    body{
        background: url(9d7caf002efa649234adcec4aadb96fc.jpg) no-repeat fixed center;
        background-size: cover;
        display: flex;
        justify-content: center;
    }
    .pdf{
        width: 70vw;
        min-width: 520px;
        background-color: white;
        padding: 50px;
        margin: 30px;
    }
    .color{
        color: rgb(255, 85, 85);
    
    }
    .strng{
        font-weight: 600;
    }
    .gray{
        color: rgb(177, 177, 177);
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .achivement a{
        background-color: blueviolet;
        color: white;
        padding: 1rem;
        margin-top: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
@media (max-width: 600px) {
  .pdf{
    width: 95vw;
    padding: 0;
    margin-left:3vw;
    margin-right:2vw;
  }
  .pdff{
    margin-left: 1rem;
}
