   *{
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    body{
        background: url(9d7caf002efa649234adcec4aadb96fc.jpg) no-repeat fixed center;
        background-size: cover;
    }
    .pdf{
        background-color: white;
    }
    .pdff{
        padding: 1rem;
    }
    .color{
        color: rgb(255, 85, 85);
    }
    .strng{
        font-weight: 600;
    }
    .gray{
        color: rgb(177, 177, 177);
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .achivement a{
        background-color: blueviolet;
        color: white;
        padding: 1rem;
        margin-top: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
@media (min-width: 800px) {
  .pdf{
    width: 70vw;
    margin: auto;
  }
}